<%- include('../layouts/header.ejs') %>
  
    <h3>Dashboard</h3>
    <button><a href="/customer/custlist">Customer List</a></button>
    <button><a href="/service/servicelist">Service List</a></button>

    <br><br>

   

            <h3><a href="/home">Home</a></h3>
            <% include('../layouts/footer.ejs') %>