<%- include('../layouts/header.ejs') %>


    <body class="container">
        <h3>Forgot Password</h3>
        <form class="form" action="" method="post">
            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter Password" required /><br><br>
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <button>Update Password</button>
        </form>
        <% include('../layouts/footer.ejs') %>
    </body>